body {
	background-image:url('../img/background.png'); 
	font-family:'lucida grande',verdana,helvetica,arial,sans-serif;
	font-size:90%;
}

#main {
	width: 80%;
	margin: auto;
	text-align: left;
	box-shadow: 0px 0px 10px #CCC;
    -webkit-box-shadow: 0px 0px 10px #CCC;
    -moz-box-shadow: 0px 0px 10px #CCC;
    border-radius: 5px;
}

#contenedorHeader {
	background-image:url('../img/header_white.png');
	width: 100%;
	background: rgba(255,255,255,0.6);
	border-bottom: 10px solid #9C0;
	display: inline-block;
}

#contenedorHeader #logo {
	margin: 20px 0px 20px 20px;
	width: 150px;
	height: 150px;
}

#contenedorHeader .panelHeader {
	float: left;
	width: 48%;
}


nav
{
	background:rgba(255,255,255,0.8);
	display: inline-block;
	width: 100%;
}

nav ul
{
	margin: 10px;
} 

nav ul a
{
	text-decoration: none;
}

nav ul li
{
    list-style: none;
    margin: 0px 5px 0px 5px;
    display:inline-block;
    background: #0CF;
    padding: 5px 10px 5px 10px;
    border-radius: 5px;
    
    background: -webkit-linear-gradient(top,#690,#9C0);
	background: -moz-linear-gradient(top,#690,#9C0);
	background: -o-linear-gradient(top,#690,#9C0);
	background: linear-gradient(top,#690,#9C0);
	color: #FFF;
	font-weight: bold;
}

nav ul li:hover
{
	background: -webkit-linear-gradient(top,#9C0,#690);
	background: -moz-linear-gradient(top,#9C0,#690);
	background: -o-linear-gradient(top,#9C0,#690);
	background: linear-gradient(top,#9C0,#690);
}


#contenedorFooter {
	width: 100%;
	background: rgba(255,255,255,0.6);
	border-top:10px solid #9C0;
	display: inline-block;
}

#contenedorFooter .panelFooter
{
	float: left;
	width: 30%;
	margin:10px;
}

#contenedorFooter .panelFooter
{
	color: #333;
}

